/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing-page {
	height:50vh;
	background-image: url(https://images.pexels.com/photos/1114690/pexels-photo-1114690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#6DCCDE;
	color: #fff;*/
}

#icon {
	width: 30px;
	height: 30px;
}

li {
	list-style: none;
}

#gmap-canvas {
	height: 60vh;
	width: 100%;
}

.brgr {
	height: 400px;
	width: 400px;
}