/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing-page {
	height:50vh;
	background-image: url(https://images.pexels.com/photos/943905/pexels-photo-943905.jpeg?cs=srgb&dl=pexels-irina-iriser-943905.jpg&fm=jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#6DCCDE;
	color: #fff;
}

#landing-page-contact {
	height:50vh;
	background-image: url(https://images.pexels.com/photos/943905/pexels-photo-943905.jpeg?cs=srgb&dl=pexels-irina-iriser-943905.jpg&fm=jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#6DCCDE;
	color: #fff;
}

#gmap-canvas {
	height: 60vh;
	width: 100%;
}


#icon {
	width: 40px;
	height: 40px;
}

.navbar {
	background-color: lightpink;
}

.navbar-toggler {
	background-color: deeppink;
}

body {
	background-color: hotpink;
}